h1 {
  color: blue;
}
h2 {
  color: blue;
  border: 1px ;
  padding: 10px;
}
h3 {
  color: green;
  padding: 10px;
}
.moja {
  font-size: 30px;
  color: orange;
  margin-left: 10px;
}
.zdjecie {
  padding: 30px;
}